<div class="profile_info">
	<h3><%= @user.name %></h3>
	<h5>Karma: <%= @user.karma %></h5>
	<h5>Post Karma: <%= @user.post_karma %></h5>
	<h5>Comment Karma: <%= @user.comment_karma %></h5>
</div>

<% if @user.image_url %>
  <%= image_tag @user.image_url %>
<% end %>

<hr>

  <h3 class="num_of_vids">Posted <%= pluralize(@user.video_count, 'Video') %> </h3>

  <% @user.posts.each do |post| %>
    <%= render 'posts/post_snapshot', :post => post %>
  <% end %> 
	




