<div class="profile_info">
	<h3><%= @user.name %></h3>
	<h5>Karma: <%= @user.karma %></h5>
	<h5>Post Karma: <%= @user.post_karma %></h5>
	<h5>Comment Karma: <%= @user.comment_karma %></h5>
</div>

<% if @user.image_url %>
  <%= image_tag @user.image_url %>
<% end %>

<hr>

  <h3 class="num_of_vids">Posted <%= pluralize(@user.video_count, 'Video') %> </h3>

  <% @user.posts.each do |post| %>
  <dl class="dl-horizontal">
  	<dt class="karma"><%= post.post_karma %></dt>
    <dd class="user_post"><a class="user_post_title"><%= link_to post.title, post_path(post) %></a>
    	
    <span class="user_post_img"><%= link_to(image_tag(post.video_url_thumbnail), post_path(post)) %></span>
      <div class="post_tags"><% post.tags.each do |tag| %>
       <a> <%= link_to "#" + tag.name, "/tags/#{tag.name}" %></a>
      <% end %>
    </div>

    <span class="post_time">posted <%= time_ago_in_words(post.created_at) %> ago</span>
  	</dd>
   </dl>
   <hr>
  <% end %> 
	




