
<h1><%= @user.name %></h1>

<p><%= @user.email %></p>

<% if @user.image_url %>
  <%= image_tag @user.image_url %>
<% end %>

<hr>

  <h1>Posted <%= pluralize(@user.video_count, 'Video') %> </h1>

  <% @user.posts.each do |post| %>
    <p><%= post.title %></p>
    <p><%= post.video_url %></p>
      <% post.tags.each do |tag| %>
        <%= link_to "#" + tag.name, "/tags/#{tag.name}" %>
      <% end %>

    <p><%= post.created_at %></p>
  <% end %>





