
<h1><%= @user.name %></h1>

<% if @user.image_url %>
  <%= image_tag @user.image_url %>
<% end %>

<hr>

  <h1>Posted <%= pluralize(@user.video_count, 'Video') %> </h1>

  <% @user.posts.each do |post| %>
    <p><%= link_to post.title, post_path(post) %></p>
      <% post.tags.each do |tag| %>
        <%= link_to "#" + tag.name, "/tags/#{tag.name}" %>
      <% end %>

    <p>posted <%= time_ago_in_words(post.created_at) %> ago</p>
  <% end %>





