<div class="video_create">
  <div class="video_info">

   <% if activity.owner.image_url %>    
     <%= image_tag activity.owner.image_url %>
   <% else %>  
    <%= image_tag asset_path 'default_profile.png' %>
   <% end %>
  
  <span class="video_activity">
   <%= link_to activity.owner.name, user_path(activity.owner) %> posted
   <%= link_to activity.trackable.title, post_path(activity.trackable) %> 
   <%= time_ago_in_words(activity.trackable.created_at) %> ago
  </span> 
 </div>

  <div class="video_preview">
    <%= link_to(image_tag(activity.trackable.video_url_thumbnail), post_path(activity.trackable))  %>     
  </div>

    <div class="video_meta">
      <% activity.trackable.tags.each do |tag| %>
        <span><%= link_to "#"+tag.name, "/tags/#{tag.name}" %></span>
      <% end %>
    </div> 

</div>
