<div class="video_create">
  <div class="video_info">

 <% if activity.owner.image_url %>    
    <%= image_tag activity.owner.image_url %>
  <% else %>  
    <%= image_tag asset_path 'default_profile.png' %>
  <% end %>

<span class="video_activity">
  <%= activity.inspect%>
  <%= link_to activity.owner.name, user_path(activity.owner.id) %>
    <% if activity.owner.voted_up_on?(activity.trackable) %>
      <span> upupup </span> on <%= link_to activity.trackable.title, post_path(activity.trackable.id) %> <%= time_ago_in_words(activity.created_at) %> ago
    <% else %>  
      <span> downdowndown</span> on <%= link_to activity.trackable.title, post_path(activity.trackable.id) %> <%= time_ago_in_words(activity.created_at) %> ago
    <% end %>  
  </div>
  
  <div class="video_preview">
  </div>
</div>
  
