= form_for @post do |f|
  = f.label :title
  = f.text_field :title
  = f.label :video_url
  = f.text_field :video_url
  = f.label :content
  = f.text_area :content
  = f.label :tag_list
  = f.text_field :tag_list
  .form-field
    =f.submit 'Submit Post'
