.list_of_posts
  %div.all_posts
    #iso_content
      - @posts.each do |post|
        - the_tags = post.tags.join(" ")
        - the_tags += ' box'
        %div{:class => the_tags}
          %h3.box-title
            = link_to post.title, post_path(post)
          %p.box-text
            = truncate(post.content, :length => 140)

.left_sidebar
  .sort_section
    %h3
      Sort By
      %ul
        %li
          = link_to 'Most Recent', by_most_recent_posts_path
        %li
          = link_to 'Votes', by_votes_posts_path
        %li
          = link_to 'Views', by_most_viewed_posts_path
  .tag_section
    %h3
      Top Tags
      %ul
        %li
          %a{"data-filter" => "*", :href => ""} All
        - @tags.each do |tag|
          %li
            %a{"data-filter" => "." + tag["name"], :href => "/tags/" + tag["name"]}
              = tag["name"]
/ %p.pagination
/   = will_paginate @posts
