.post
  %h1 Post
  = render "/votes/vote_control", :score => (@post.likes.size - @post.dislikes.size)
  %h4
    =@post.title
  / %iframe{:src => @post.video_url + "?html5=1"}
  / %iframe{:src => 'http://www.youtube.com/watch?feature=player_detailpage&v=hNjdBSoIa8k', :height => 420, :width => 315, :frameborder => 0, :allowfullscreen => true}
  / <iframe width="420" height="315" src="http://www.youtube.com/embed/hNjdBSoIa8k?html5=1" frameborder="0" allowfullscreen></iframe>
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "http://www.youtube.com/embed/hNjdBSoIa8k?html5=1&vq=hd720", :width => "640"}
  %p
    =@post.content
    = link_to "Edit", edit_post_path(@post)
    = link_to "Delete", post_path(@post), :method => :delete
  
  <hr>

  = link_to "Comment"
  
  - @post.comments.each do |comment|
    = render "/votes/vote_control", :score => (comment.likes.size - comment.dislikes.size)
    %h5
      =comment.title
    %p
      =comment.comment
    %p
      =link_to comment.user.name, user_path(comment.user)
      =comment.created_at



