=stylesheet_link_tag "votes", :media => "all"

%span.vote_score= score

= form_for @comment, :url => comment_vote_path(@comment), :html => {:class => 'vote_up_comment_form'}, :remote => true do |f|
  / = f.hidden_field 'id', :post_id => @post.id
  = f.hidden_field 'vote', :value => 'like'
  = f.submit '⬆', class: "vote_up_off"

= form_for @comment, :url => comment_vote_path(@comment), :html => {:class => 'vote_down_comment_form'}, :remote => true do |f|
  / = f.hidden_field 'id', :post_id => @post.id
  = f.hidden_field 'vote', :value => 'dislike'
  = f.submit '⬇', class: "vote_down_off"

