=stylesheet_link_tag "votes", :media => "all"

%span.post_vote_score= score

= form_for @post, :url => post_vote_path(@post), :html => {:id => 'vote_up_post_form'}, :remote => true do |f|
  = f.hidden_field 'id', :id => @post.id
  = f.hidden_field 'vote', :value => 'like'
  = f.submit '⬆', class: "vote_up_off"

= form_for @post, :url => post_vote_path(@post), :html => {:id => 'vote_down_post_form'}, :remote => true do |f|
  = f.hidden_field 'id', :id => @post.id
  = f.hidden_field 'vote', :value => 'dislike'
  = f.submit '⬇', class: "vote_down_off"

